## Symbolic Calculation Project

### Dataset Preperation

In [8]:
#testing Taylor expansion on sin(x)
from sympy import *
x = Symbol('x')
f = sin(x)
series(f, x0=0, n=4).removeO()

-x**3/6 + x

In [9]:
# Defining the functions for dataset
funcs = [sin, cos, tan, exp, log, sqrt]

In [10]:
#Creating list of functions
functions = []
for func in funcs:
  x = Symbol('x')
  functions.append(func(x))

#creating list corresponding Taylor expansion using sympy library
taylor_expansion = []
for i in functions:
  taylor_expansion.append(series(i, x0=0, n=4).removeO())

In [11]:
import pandas as pd
# create a dataframe from the two list
df = pd.DataFrame({"Functions": functions, "Expansion": taylor_expansion})

In [12]:
#saved as a txt file
df.to_csv(r'dataset.txt', index=None)

### Tokenizing dataset

In [13]:
df['Functions']

0     sin(x)
1     cos(x)
2     tan(x)
3     exp(x)
4     log(x)
5    sqrt(x)
Name: Functions, dtype: object

In [14]:
# import tensorflow as tf

# # Create a TextVectorization layer object
# vectorizer = tf.keras.layers.TextVectorization()

# # Tokenize the trigonometric functions
# vectorizer.adapt([str(func) for func in df.Functions])

# # Print the resulting vocabulary
# print(vectorizer.get_vocabulary())

In [15]:
import numpy as np

expansions = []
for expansion in df['Expansion']:
  tokens = np.array(str(expansion).replace(' ', '').replace('**', '^').split(' '))
  expansions.append(tokens)

In [20]:
final_dataset = pd.DataFrame({'Functions': df['Functions'], 'Expansion': expansions})

In [21]:
final_dataset

  Functions          Expansion
0    sin(x)         [-x^3/6+x]
1    cos(x)          [1-x^2/2]
2    tan(x)          [x^3/3+x]
3    exp(x)  [x^3/6+x^2/2+x+1]
4    log(x)           [log(x)]
5   sqrt(x)          [sqrt(x)]

In [22]:
final_dataset.to_csv('dataset.txt', indes = None)

TypeError: ignored